.GameCell {
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  box-sizing: border-box;
}

.GameCell.clicked {
  border: 1px solid #808080;
}

.GameCell.unclicked {
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid #808080;
  border-bottom: 4px solid #808080;
}

.GameCell.clicked-mine {
  border: 1px solid #808080;
  background-color: #e93030;
}
